@tailwind base;
@tailwind components;
@tailwind utilities;

nav{
  backdrop-filter: blur(10px);
}

.header {
  background-image: url('./assets/HeaderImage.png');
  background-size: cover;
}

.header-overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
}

li {
  @apply my-5;
}