@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Roboto", sans-serif;
}

nav{
  backdrop-filter: blur(10px);
}

.header {
  background-image: url('./assets/HeaderImage.png');
  background-size: cover;
}

.Auth {
  background-image: url('./assets/AuthImg.png');
}

.header-overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
}

li {
  @apply my-5;
}

.AuthModal {
  display: block;
    position: absolute;
    background-color: white;
    z-index: 50;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    opacity: 0.9;
    height: 1000px;
}

.loader {
  margin: 100px auto;
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #0c0e0f; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.bn632-hover {
  width: 90px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn20 {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

#focusSection {
  overflow: hidden; 
}

#focusSection.focused {
  overflow-y: scroll;
}